@model string
@{
    ViewData["Title"] = "ChangePassword";
}

<head>
    <style>
        .PasswordInput {
            width: 75%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div>
        <div>
            <main class="my-form">
                <div class="cotainer">
                    <div class="row justify-content-center" style="padding: 0; margin: 0;">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header " style="color: orange;font-size: 20px;"> <span class="display-4"> AutoMy </span>- პაროლის აღდგენა </div>
                                <div class="card-body">
                                    <h5>ახალი პაროლი</h5>
                                    <input type="password" id="NewPassword" class="PasswordInput"/>
                                    <h5>გაიმეორეთ ახალი პაროლი</h5>
                                    <input type="password" id="NewPasswordRepeat" class="PasswordInput"/>
                                    <br />
                                    <span id="ErrorMessage" class="text-danger"></span>
                                    <button onclick="ChangePasswordOnButtonClick()" class="btn btn-outline-success">პაროლის აღდგენა</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        function ChangePasswordOnButtonClick()
        {
            var newPassword = document.querySelector("#NewPassword").value;
            var newPasswordRepeat = document.querySelector("#NewPasswordRepeat").value;
            var ErrorMessage = document.querySelector("#ErrorMessage");
            if (newPassword === null || newPassword === "" || newPasswordRepeat === null || newPasswordRepeat === "")
                ErrorMessage.textContent = "გთხოვთ შეავსეთ პაროლები";
            else if (newPassword != newPasswordRepeat)
                ErrorMessage.textContent = "გთხოვთ გადაამოწმეთ პაროლები";
            else if (newPassword == newPasswordRepeat)
            {
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangePassword",
                    data: { email: "@Model", password: document.querySelector("#NewPassword").value },
                    success: function ()
                    {
                        window.location.href = "/Account/ToMyPage";
                    }
                });
            }
        }
    </script>
</body>

