@model string
@{
    ViewData["Title"] = "ChangePassword";
}

<head>

</head>
<body>
    <div>
        <h5>ახალი პაროლი</h5>
        <input type="password" id="NewPassword" />
        <h5>გაიმეორეთ ახალი პაროლი</h5>
        <input type="password" id="NewPasswordRepeat" />
        <br />
        <span id="ErrorMessage" class="text-danger"></span>
        <button onclick="ChangePasswordOnButtonClick()" class="btn btn-outline-success">პაროლის აღდგენა</button>
    </div>
    <script>
        function ChangePasswordOnButtonClick()
        {
            var newPassword = document.querySelector("#NewPassword").value;
            var newPasswordRepeat = document.querySelector("#NewPasswordRepeat").value;
            var ErrorMessage = document.querySelector("#ErrorMessage");
            if (newPassword === null || newPassword === "" || newPasswordRepeat === null || newPasswordRepeat === "")
                ErrorMessage.textContent = "გთხოვთ შეავსეთ პაროლები";
            else if (newPassword != newPasswordRepeat)
                ErrorMessage.textContent = "გთხოვთ გადაამოწმეთ პაროლები";
            else if (newPassword == newPasswordRepeat)
            {
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangePassword",
                    data: { email: "@Model", password: document.querySelector("#NewPassword").value },
                    success: function ()
                    {
                        window.location.href = "/Account/ToMyPage";
                    }
                });
            }
        }
    </script>
</body>

