@model string
@{
    ViewData["Title"] = "EnterVerificationCode";
}

<head>

</head>
<body>
    <div>
        <h4>თქვენ მოგივიდათ ვერიფიკაციის კოდი Gmail-ზე, ჩაიწერეთ კოდი და ჩაწერეთ.</h4>
        <input type="number" id="verificationId" name="verificationCode"/>
        <span id="ErrorMessage" class="text-danger"></span>
        <button onclick="GoToChangePassword()" class="btn btn-outline-success">პაროლის აღდგენა</button>
    </div>

    <script>
        function GoToChangePassword()
        {
            $.ajax({
                url: "/Account/CheckVerificationCode?verificationCode=" + parseInt(document.querySelector("#verificationId").value) + "&Email=@Model",
                success: function (result)
                {
                    if (result == "success")
                        window.location.href = "/Account/ChangePassword?mail=@Model";
                    else
                        document.querySelector("#ErrorMessage").textContent = result;
                }
            });
        }
    </script>
</body>


