
@{
    ViewData["Title"] = "ForgotPassword";
}
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div>
        <h3>გთხოვთ შეიყვანეთ თქვენი იმეილი რათა აღვადგინოთ თქვენი ანგარიში</h3>
        <input id="EmailInput" name="email"/>
        <p id="ErrorMessage", class="text-danger"></p>
        <button onclick="Send()" class="btn btn-outline-primary"/>გაგზავნა</button>
    </div>
    <script>
        function Send()
        {
            var UserEmail = document.querySelector("#EmailInput").value;
            $.ajax({
                url: "/Account/SendVeryficationCode?email=" + UserEmail,
                //data: { email: document.querySelector("#EmailInput").value },
                success: function (result)
                {
                    if (result != "success")
                        document.querySelector("#ErrorMessage").textContent = result;
                    else
                        window.location.href = "/Account/EnterVerificationCode?mail=" + UserEmail;
                }
            });
        }
    </script>
</body>
