@model SignInModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "_Layout";
}
<head>
    <style>
        a, a:hover {
            text-decoration: none;
        }
        body, html {
            width: 100%;
            height: 100%;
            padding: 0px;
            margin: 0px;
            background-color: #F5F5F5;
        }

        #UserName {
            padding: 1% 3%;
            font-size: 15px;
            margin-bottom: 5px;
        }

        #Password {
            padding: 1% 3%;
            font-size: 15px;
            margin-bottom: 2px;
            margin-top: 10px;
        }

        .input_div {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .myDiv {
            padding: 60px 78px;
            background-color: #fff;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: 0 10px 30px rgba(55,58,64,.11);
            text-align: center;
        }

        .my_btn {
            border-radius: 10px;
            margin-top: 8px;
            margin-bottom: 10px;
        }

        .PasswordLabel {
            margin-top: 6px;
        }
    </style>
</head>
<body class="d-flex justify-content-center align-items-center">
  




    <div class="container_fluid ">
        <div class="myDiv">
            <h1 class="display-3" style="color: Orange;margin-bottom: 15px;">AutoMy</h1>
            <h1 style="margin-bottom:18px ;font-size: 20px;">შესვლა</h1>
            <div>
                <form asp-action="SignIn" asp-controller="Account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input_div">


                        <input type="text" asp-for="Username" class="form-control" placeholder="მომხმარებლის სახელი">
                        <span asp-validation-for="Username" class="text-danger"></span>

                        <input type="password" asp-for="Password" class="form-control" placeholder="პაროლი">
                        <span asp-validation-for="Password" class="text-danger"></span>


                        <button class="btn btn-warning my_btn" type="submit" style="margin-bottom: 25px;">შესვლა</button>
                    </div>
                </form>

            </div>

            <div style="width: 100%;">
                <a href="/Account/ForgotPassword" class="btn" style=" text-decoration: none;font-size: 15px;"> დაგავიწყდა პაროლი? </a>
                <br>
                <a href="/Account/Register" class="btn" style=" text-decoration: none;font-size: 15px;"> რეგისტრაცია </a>
            </div>
        </div>

    </div>








    @*<script>
            var RowId = document.querySelector(".row");
            var colmd4 = document.querySelector(".col-md-4");
            var Boolean = false;
            function GoToAccount()
            {
                alert("hey");
                var _username = document.querySelector("#UsernameInput").value;
                $.ajax({
                    url: "/Account/IndexWithUsername",
                    data: { Username: _username },
                    success: function (result)
                    {
                        alert("yes");
                    }
                });
            }
            function Authentification()
            {
                var _username = document.querySelector("#UsernameInput").value;
                var _password = document.querySelector("#PasswordInput").value;
                $.ajax({
                    type: "POST",
                    url: "/Account/SignIn",
                    dataType: "Json",
                    data: { username: _username, password: _password },
                    success: function (result)
                    {
                        if (result.includes("Correct"))
                        {
                            Boolean = true;
                        }
                        else
                        {
                            RowId.innerHTML = Colmd4.innerHTML + `<h3 style="color: Red;">${result}</h3>`;
                        }
                    }
                });
            }
            function AuthenticateAndGoToAccount()
            {
                var _username = document.querySelector("#UsernameInput").value;
                var _password = document.querySelector("#PasswordInput").value;
                $.ajax({
                    type: "POST",
                    url: "/Account/SignIn",
                    dataType: "Json",
                    data: { username: _username, password: _password },
                    success: function (result)
                    {
                        if (result.includes("Correct"))
                        {
                            Boolean = true;
                        }
                        else
                        {
                            RowId.innerHTML = `<div class="col-md-4">` + colmd4.innerHTML + `<h3 style="color: Red;">${result}</h3></div>`;
                        }
                        if (Boolean)
                        {
                            window.location = "/Account/IndexWithUsername?Username=" + _username;
                        }
                    }
                });
            }
            function isEmptyOrSpaces(str) {
                return str === null || str.match(/^ *$/) !== null;
            }
        </script>*@
</body>